
body {
    --rouge: #FB1D14;
    --orange: #EC5209;
    --jaune: #fdc016;
    background-color: #EC5209;
    background: linear-gradient(to bottom, #fdc016 50%, var(--orange) 100%);
    min-height: 100vh;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    gap:10px;
    height: 100vh;
}



a {
    color:var(--orange)
}
* {
    box-sizing: border-box;
    font-family: Arial;
}

.jaune {
    background-color: var(--jaune);
}

.rouge {
    background-color: var(--rouge);
}

.orange {
    background-color: var(--orange)
}

.centré {
    text-align: center;
}

h1 {
    color: var(--rouge);
    font-size: 26px;
}

p {
    font-size: 18px;
}

.titre_principal {
    font-size: 40px;
}

h2 {
    font-style: italic;
    color:var(--orange);
    font-size: 22px;
}
.barre {
    z-index: 1;
    transition: 0.3s;
    top:0;
    position: fixed;
    height: 100vh;
    width: 15%;
    border-radius: 10px;
    padding: 15px;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 5px groove #EC5209;
    transform: translateX(-80%);
}
.barre:hover {
    transform: translateX(0%);
}
.barre a {
    opacity: 0;
    width: 100%;
    background:linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: background-position   0.3s, opacity 0.2s;
    text-decoration: none;
    text-align: center;
    margin: auto;
    color:black;
    background-color: white;
    border: 1px solid black ;
    border-right: 3px groove #000000;
    padding: 10px;
    border-radius: 10px;
}

.barre:hover a {
    opacity: 1;
}
.barre a:hover {
    color:white;
    background-position: bottom left;
}

.barre .actif {
    background-size: 100% 100%;
    background: fixed;
    background-color: var(--jaune);
}

.contenu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    transition: 0.3s;
    border-radius:20px;

    margin-left: 3%;
}
.contenu>div{
    box-shadow: 5px 5px 20px var(--orange);
}
.inline {
    display: inline;
}

.haut {
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom:1px groove #FB1D14;

    padding-right: 10px;
    box-shadow: 5px 5px 20px var(--orange);
}

.titre {
    display: flex;
    column-gap: 30%;
}
.titre div h1 img {
    max-width: 50px;
}


.contenu .jeux {
    box-shadow: 1px 1px 10px var(--rouge);
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
}
.contenu .jeux .photos{
    padding: 20px;
    display: flex;
    column-gap: 10%;
    flex-wrap: wrap;
    justify-content: center;
}

.jeux .photos .cadre {
    flex-direction: column;
    position: relative;
    display: flex;
    background-color: white;
}

.photos .cadre * {
    text-align: center;
}


.photos .cadre .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    position: absolute;
    background-color: #000000;
    top:0%;
    left:0;
    width: 100%;
    height:100%;
    opacity: 0;
    color: white;
}

.photos .cadre .overlay p {
    text-align: center;
    color: white;

}
.photos .cadre img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.contenu .photos .cadre:hover .overlay {
    opacity: 0.9;
}

li {
    font-size: 18px;
}

.infos {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.infos ul {
    border: 1px solid black;
}

.bas {
    padding: 10px;
}

footer {
    
    background-color: var(--jaune);
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div {
    width: 100%;
    display: flex;
}
footer * {

}
footer .contacts div {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
}
footer .contacts #num_adresse{
    border-left:1px solid black;
}

@media screen and (max-width:768px){
    body {
        display: flex;
        flex-direction: column;
    }
    h1 {

    }

    .barre {
        border:none;
        border-radius: 0px;
        background-color: var(--jaune);
        padding: 0%;
        transform: translateX(0%);
        position: initial;
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .barre a {
        border-radius: 0px;
        opacity: 1;
    }
    
    .contenu {
        margin: 0px;
    }

    .contenu .jeux .photos{
        column-gap: 0px;
    }

    .photos .cadre img {
        width: 100%;
        height: 150px;
    }

    footer {
        height: 200px;
    }
}