body {
    --rouge: #FB1D14;
    --orange: #EC5209;
    --jaune: #fdc016;
    background-color: #dbdbdbff;
    width: 100%;
    margin: 0;
    gap:10px;
    height: 100vh;
}
 
* {
    box-sizing: border-box;
    font-family: Arial;
}

.barre {

    transition: 0.3s;
    top:0;
    position: fixed;
    height: 100vh;
    width: 15%;
    border-radius: 10px;
    border: 1px solid --orange;
    padding: 15px;;
    background-color: var(--jaune);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 5px groove #EC5209;
    transform: translateX(-80%);
}
.barre:hover {
    transform: translateX(0%);


}
.barre a {

    background:linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;

    background-position: bottom right;
    transition: 0.3s;
    text-decoration: none;
    margin: auto;
    color:black;
    background-color: white;
    border: 1px solid black ;
    border-right: 3px groove #000000;
    padding: 10px;
    border-radius: 10px;
}


.barre a:hover {
    color:white;
    background-position: bottom left;
}

.barre .actif {
    background-color: var(--jaune);

}

.titre {
    background-color: white;
    border-bottom:1px groove #FB1D14;
    border-radius: 20px,20px,0px,0px;
    padding-right: 10px;
}
.contenu {
    transition: 0.3s;
    border-radius:20px;
    border: 4px solid gray;
    background-color:white;
    margin-left: 6%;
}
.contenu .photos {
    gap:20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.photos .cadre {
    position:relative;
    border: 1px solid #FB1D14;
    align-items: center;
    flex-direction: column;
    display: flex;

}

.photos .cadre .overlay {
    transition: 0.3s;
    opacity: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.overlay p {
    color:white;
    text-align: center;
}

.overlay p a {
    color: var(--rouge);
}

.photos .cadre:hover .overlay {
    opacity: 0.8;
}
 img {
    width: 200px;
    height: 200px;

}
h1,h4{
    color:#FB1D14;
    font-family: Arial;
    margin: 20px;
}
p{
    line-height: 1.5;
    margin: 20px;
    text-align: center;
}

.pas_centré {
    text-align:left;
}


.cadre p {
    margin:12px;
    font-family: Arial;
    text-align: center;
}



hr {
    height: 2px;
    background-color:#FB1D14;
}

strong {
    color:#EC5209
}

.petit {
    font-size:12px;

}
