html, body{
    font-family: Arial, Helvetica, sans-serif;
}



body {
    display: flex;
    gap:10px;
    --jaune: #fdc016;
}

/* gère la barre de navigation entre les 4 pages différentes */
.barre {
    border-radius: 10px;
    border: 1px solid #EC5209;
    padding: 10px;;
    background-color: #FDC013;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.barre a {
    text-decoration: none;
    margin: auto;
    color:black;
    background-color: white;
    border: 1px solid black ;
    padding: 10px;
    
    border-radius: 10px;
}

.barre a:hover {
    color: white;
    background-color: #EC5209;
}

/* gère les 2 titres de la page */

.titre_page {
    text-align: center;
    border: black 1px solid;
    border-radius: 10px;
    background-color: #FDC013;
    padding: 10px;
    margin-bottom: 20px;
    width: 550px;
}

/* gère les divs des images des jeux et de leur descriptif */
.droite{
    display: flex;
    flex-direction: row-reverse;
}
.gauche{
    display: flex;
    
}
.texte_droite{
    width: 700px;
    height: 170px;
    text-align: center;
    border: black 1px solid;
    border-radius: 15px;
}

.lien_jeu{
    position: absolute;
}

/* gère la police et la taille des caractères */
*h4{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
*p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
*h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}


/* gère les images */
#img{
    height: 220px;
    width: 355px;
    border-radius: 15px;
}

/*gère les hover des images */

#img:hover{
    background-color: grey;
    opacity: 10;
}



/* gère le bas de la page */

footer{
    background-color: #fdc016;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer div {
    width: 100%;
    display: flex;
}
footer .contacts div {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
}
footer .contacts #num_adresse{
    border-left:1px solid black;
}
.centré {
    text-align: center;
}
