html, body{
    font-family: Arial, Helvetica, sans-serif;
}



body {
    display: flex;
    gap:10px;
}

.image_production{
    height: 275px;
    width: 500px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:310px;
}
.barre {
    border-radius: 10px;
    border: 1px solid #EC5209;
    padding: 10px;;
    background-color: #FDC013;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.barre a {
    text-decoration: none;
    margin: auto;
    color:black;
    background-color: white;
    border: 1px solid black ;
    padding: 10px;
    
    border-radius: 10px;
}

.barre a:hover {
    color: white;
    background-color: #EC5209;
}
.titre_page {
    text-align: center;
}
#img{
    height: 175px;
    width: 300px;
}
.droite{
    display: flex;
    
}
.gauche{
    display: flex;
}
.texte_droite{
    border: black 1px solid;
    width: 700px;
    height: 180px;
}

*h4{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
*p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
*h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
