* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    --rouge: #FB1D14;
    --orange: #EC5209;
    --jaune: #fdc016;
    background-color: #EC5209;
    background: linear-gradient(to bottom, #fdc016 50%, var(--orange) 100%); 
    min-height: 100vh;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    gap:10px;
    height: 100vh;
}

h4{
    font-size: 22px;
}

p{
    font-size: 18px;
}

h1{
    font-size: 26px;
    color: var(--rouge);
}

a {
    color:var(--orange)
}

.barre {
    z-index: 1;
    transition: 0.3s;
    top:0;
    position: fixed;
    height: 100vh;
    width: 15%;
    border-radius: 10px;
    padding: 15px;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 5px groove #EC5209;
    transform: translateX(-80%);
}

.barre:hover {
    transform: translateX(0%);
}
.barre a {
    opacity: 0;
    width: 100%;
    background:linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: background-position   0.3s, opacity 0.2s;
    text-decoration: none;
    text-align: center;
    margin: auto;
    color:black;
    background-color: white;
    border: 1px solid black ;
    border-right: 3px groove #000000;
    padding: 10px;
    border-radius: 10px;
}

.barre:hover a {
    opacity: 1;
}
.barre a:hover {
    color:white;
    background-position: bottom left;
}

.barre .actif {
    background-size: 100% 100%;
    background: fixed;
    background-color: var(--jaune);
}

.jaune {
    background-color: var(--jaune);
}

.rouge {
    background-color: var(--rouge);
}

.orange {
    background-color: var(--orange)
}

.centré {
    text-align: center;
}

.fond_blanc{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 3vw;
    border-radius: 8px;
    box-shadow: 5px 5px 20px var(--orange);
}

img{
    margin-bottom: 40px;
}

input[type=checkbox] {
    display: none;
}

img:hover{
    cursor: zoom-in;
    
}

#ubi{
    height:30vw;
    width:43vw;

}

#anka{
    height:30vw;
    width:43vw;
}

.containerAnkama{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.containerAnkama img {
    display: flex;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.containerUbisoft{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.containerUbisoft img {
    display: flex;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

#imageanka[type=checkbox]:checked ~ label > img {
    transform: scale(1.5);
    cursor: zoom-out;
    margin-left: 50%;
}

#imageubi[type=checkbox]:checked ~ label > img {
    transform: scale(1.5);
    cursor: zoom-out;
    margin-left: -50%;
}

.effectifAnkama{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.effectifAnkama img {
    display: flex;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.effectifUbisoft{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.effectifUbisoft img {
    display: flex;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.effectifanka1{
    height:20vw;
    width:30vw;
    margin:auto;
}

.effectifUbisoft1{
    height:20vw;
    width:30vw;
    margin:auto;
    margin-right: 300px;
}

#effectifanka[type=checkbox]:checked ~ label > img {
    transform: scale(1.5);
    cursor: zoom-out;
    margin-left: 50%;
}

#effectifUbisoft[type=checkbox]:checked ~ label > img {
    transform: scale(1.5);
    cursor: zoom-out;
}

footer {
    margin-top: 20px;
    background-color: var(--jaune);
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div {
    width: 100%;
    display: flex;
}

footer .contacts div {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
}
footer .contacts #num_adresse{
    border-left:1px solid black;
}